@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Lora', serif;
	font-size: 15px;
	margin: 0px;
	background: black;
	color: white;
	position: center;
	

}

h1,h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 30px;
}

h3 {
	color: black;
}



a {
   text-decoration: none; 

 }